extends ../layouts/default

block content
  .about-page
    .container
      .inner-wrap
        if aboutList.length
          each item in aboutList
            .about-item
              .header-image
                if item.avatar
                  img(src=item.avatar alt=item.title)
                else
                  img(src="/assets/images/banner.png" alt="Giới thiệu")

              h1.page-title= item.title
              p.post-date= item.createdAtFormat
              .intro-text !{item.content}
        else
          p Không có dữ liệu giới thiệu.
