extends ../layouts/default

block content
  .section-1
    #map

      .info-table
        .info-header Thông tin hiển thị cảnh báo mức thứ 3

        // Layer control
        .layer-control
          h3 Chọn dữ liệu bản đồ
          select#layerSelect
            option(value="Sauromthong_6tinh") Sâu róm thông 6 tỉnh
            option(value="Benhhaikeo_8tinh") Bệnh hại lá keo 8 tỉnh
            option(value="Sauhailakeo_5tinh") Sâu hại lá keo 5 tỉnh
        .section-4
          .inner-wrap
            .inner-item.inner-label
              <i class="fa-solid fa-filter"></i> Bộ lọc
            .inner-item
              select(filter-tinh name="tinh")
                option(value="") Tỉnh
                each tinh in ListTinh
                  option(value=tinh.ma_tinh) #{tinh.ten_tinh}
            .inner-item
              select(filter-huyen name="huyen")
                option(value="") Huyện
                if ListHuyen.length
                each huyen in ListHuyen
                  option(value=huyen.ma_huyen)= huyen.ten_huyen
                else
                  option(value="") Chưa chọn tỉnh


        // Bộ lọc (filter)
        //- .filter
        //-   label Cấp độ:
        //-   select#capDoFilter
        //-     option(value="all") Tất cả
        //-     option(value="1") Cấp 1
        //-     option(value="2") Cấp 2
        //-     option(value="3") Cấp 3
        //-   //- label Diện tích:
        //-   //- input#dienTichFilter(type="number" placeholder="Nhập diện tích...")
        //-   button#searchBtn
        //-     i.fas.fa-search
        // Bảng dữ liệu
        table
          thead
            tr
              th Tên xã
              th Tiểu khu
              th Khoảnh
              th Lô
              //- th Phân cấp
              //- th Diện tích
          tbody
           if dataList.length
          each item in dataList
            tr(
              data-xa=item.xa
              data-tk=item.tk
              data-khoanh=item.khoanh
              data-lo=item.lo
            )
              td #{item.xa}
              td #{item.tk}
              td #{item.khoanh}
              td #{item.lo}
          else
            tr
              td(colspan="4" style="text-align:center") Không có dữ liệu

              //- td #{item.phancap}


