extends ../layouts/default.pug

block main
  h1.box-title Quản lý bài giới thiệu
  //- Section 5: Hành động & tìm kiếm
  .section-5
    .inner-wrap
      //- .inner-change-status(
      //-   change-multi 
      //-   data-api =`/${pathAdmin}/about/change-multi`
      //- )
      //-   .inner-item
      //-     select
      //-       option(value="") -- Hành động --
      //-       option(value="0") Ẩn
      //-       option(value="1") Hiện
      //-   .inner-item
      //-     button Áp dụng
      .inner-search
        i(class="fa-solid fa-magnifying-glass")
        input(type="text" placeholder="Tìm kiếm" search)
        .inner-button-create
          a(href=`/${pathAdmin}/about/create`) + Tạo mới

  //- Section 6: Bảng danh sách
  .section-6
    .table-2
      table
        thead
          tr
            th.inner-center Tiêu đề
            th.inner-center Ảnh 
            th Ngày tạo
            th.inner-center Trạng thái
            th Hành động
        tbody
            each item in aboutList
                tr
                td.inner-center #{item.title}
                td.inner-center
                    if item.avatar
                        img(src=item.avatar class="inner-avatar")
                td #{item.createdAtFormat}
                td.inner-center
                    label.switch
                        input(
                            type="checkbox"
                            checked=(item.status === 1 ? true : false)
                            toggle-status
                            data-id=item.id
                            data-api=`/${pathAdmin}/about/change-status/${item.id}`
                        )
                        span.slider.round
                td
                    .inner-buttons
                        a.inner-edit(href=`/${pathAdmin}/about/edit/${item.id}`)
                            i(class="fa-regular fa-pen-to-square")
    //- Section 7
    //- Section 7: Pagination
    .section-7
      - const start = (pagination.page - 1) * limit + 1;
      - const end = Math.min(pagination.page * limit, pagination.totalRecords);
      span.inner-label Hiển thị #{start} - #{end} của #{pagination.totalRecords}

      select.inner-pagination(pagination name="page")
        each val in [...Array(pagination.totalPages).keys()]
          - const pageNum = val + 1;
          option(value=pageNum selected=(pageNum === pagination.page)) Trang #{pageNum}
