extends ../layouts/default.pug

block main
  .section-5.next_slide
    .inner-wrap-next
      //- Nút Quay lại luôn hiển thị
      //- .inner-button-next_slide
      //-   i.fa-solid.fa-arrow-left
      //-   a(href=`/${pathAdmin}/dichbenh/${loaidich}/${effect}/list`) Quay lại

      //- Nút xác nhận / chưa xác nhận theo statusPage
      if statusPage === 0
        .inner-button-next_slide
          a(href=`/${pathAdmin}/dichbenh/${loaidich}/${effect}/status/confirmed`) Danh sách xác nhận
          i.fa-solid.fa-arrow-right
      else
        .inner-button-next_slide
          a(href=`/${pathAdmin}/dichbenh/${loaidich}/${effect}/status/pending`) Danh sách Chưa xác nhận
          i.fa-solid.fa-arrow-right


  h1.box-title Danh sách #{statusPage === 1 ? 'Xác nhận' : 'chưa xác nhận'}

    //- Section 4: Bộ lọc
  .section-4
    .inner-wrap
      .inner-item.inner-label
        <i class="fa-solid fa-filter"></i> Bộ lọc
      .inner-item
        select(filter-tinh name="tinh" filter-Ma_tinh)
          option(value="") Tỉnh
          each tinh in ListTinh
            option(value=tinh.ma_tinh) #{tinh.ten_tinh}
      .inner-item
        select(filter-huyen name="huyen" filter-Ma_huyen) 
          option(value="") Huyện
          if ListHuyen_Condition.length
           each huyen in ListHuyen_Condition
            option(value=huyen.ma_huyen)= huyen.ten_huyen
          else
           each huyen in ListHuyen
            option(value=huyen.ma_huyen)= huyen.ten_huyen
      .inner-item
        select(filter-huyen name="xa" filter-Ma_xa)
          option(value="") Xã
          if ListXa_Condition.length
           each xa in ListXa_Condition
            option(value=xa.ma_xa)= xa.ten_xa
          else
           each xa in ListXa
            option(value=xa.ma_xa)= xa.ten_xa
      .inner-item.inner-date
        input(type="date" filter-start-date value="2025-09-01")
        span - 
        input(type="date" filter-end-date value="2025-09-22")
      .inner-item.inner-reset(filter-reset)
        <i class="fa-solid fa-rotate-left"></i> Xóa bộ lọc

    //- Section 5: Hành động & tìm kiếm
  if statusPage == 0
    .section-5
      .inner-wrap
        .inner-change-status(change-multi data-api=`/${pathAdmin}/dichbenh/srt/defor/change-multi`)
          .inner-item
            select
              option(value="") -- Hành động --
              option(value="1") xác nhận
          .inner-item
            button Áp dụng

  //- Section 6: Bảng danh sách
  .section-6
    .table-2
      table
        thead
          tr
            if statusPage == 0
              th.inner-center
                input(type="checkbox" class="inner-check" check-all)
            th.inner-center Tỉnh
            th.inner-center Huyện
            th.inner-center Xã
            th TK
            th Khoảnh
            th Lô
            th Diện tích 
            th Loại rừng
            th Ngày PH
            if statusPage == 0
              th Xác nhận
            th.inner-center Hành động
        tbody
            if listDulieu && listDulieu.length
                each item, index in listDulieu
                    tr
                        if statusPage == 0
                          td.inner-center
                              input(type="checkbox" class="inner-check" check-item=`${item.id}`)
                        td.inner-center= item.tinh
                        td.inner-center= item.huyen
                        td.inner-center= item.xa
                        td= item.tieukhu
                        td= item.khoanh
                        td= item.lo
                        td= item.defor_ha
                        td= item.loairung
                        td= item.ngayPH
                        if statusPage == 0
                          td
                              label.switch
                                  input(
                                  type="checkbox"
                                  checked=(item.status === 1 ? true : false)
                                  toggle-status
                                  data-api=`/${pathAdmin}/dichbenh/${loaidich}/${effect}/change-status/${item.id}`
                                  )
                                  span.slider.round
                        td.inner-center
                            .inner-buttons
                                a.inner-edit(href=`/${pathAdmin}/dichbenh/${loaidich}/${effect}/detail/${item.id}?status`)
                                  i.fa-solid.fa-eye
                            if(item.status == 1)
                              .inner-buttons
                                a.inner-map(
                                      href=`/bandogiamsat?bando=${bando}&xa=${item.xa}&tk=${item.tieukhu}&khoanh=${item.khoanh}&lo=${item.lo}`
                                      target="_blank"
                                      style ="color: inherit;"
                                    )
                                      i.fa-solid.fa-map-location-dot


            else
                tr
                  td(colspan="11" style="text-align:center; padding:10px;") Không có dữ liệu

  //-Section 7
  .section-7
    span(class="inner-label") Hiển thị #{pagination.skip + 1} - #{listDulieu.length + pagination.skip} của #{pagination.TotalDuLieu.length}
    select(class="inner-pagination" pagination)
      - for(let i = 1 ; i <= pagination.totalPage ; i++)
            option(value=i) Trang #{i}
          
    //-End Section 7