extends ../layouts/default.pug
block main
    h1.box-title Chỉnh sửa Du lieu SRT

    .section-8
      form#srt-edit-form
        .inner-group(style="display: none;")
          label(class="inner-label" for="id") Id
          input(type="text" id="id" name="id" value=dataSRT.id)
        .inner-group
          label(class="inner-label" for="huyenDisabled") Huyện
          select(id="huyenDisabled" disabled)
            option(value=dataSRT.mahuyen selected) #{dataSRT.huyen}
          // Hidden input để validate & submit
          input(type="hidden" id="huyen" name="huyen" value=dataSRT.mahuyen)

        .inner-group
          label(class="inner-label" for="xaDisabled") Xã
          select(id="xaDisabled" disabled)
            option(value=dataSRT.maxa selected) #{dataSRT.xa}
          input(type="hidden" id="xa" name="xa" value=dataSRT.maxa)

        .inner-group(style="display:none")
          label(class="inner-label" for="matinh") Id_tỉnh
          input(type="text" id="matinh" name="matinh" value=dataSRT.matinh readonly)

        .inner-group
          label(class="inner-label" for="tk") Tiểu khu
          input(type="text" id="tk" name="tk" value=dataSRT.tk readonly)

        .inner-group
          label(class="inner-label" for="khoanh") Khoanh
          input(type="text" id="khoanh" name="khoanh" value=dataSRT.khoanh readonly)

        .inner-group
          label(class="inner-label" for="lo") Lô
          input(type="text" id="lo" name="lo" value=dataSRT.lo readonly)

        .inner-group
          label(class="inner-label" for="dtich") Diện tích
          input(type="text" id="dtich" name="dtich" value=dataSRT.dtich readonly)

        .inner-group
          label(class="inner-label" for="loairung") Loại rừng
          input(type="text" id="loairung" name="loairung" value=dataSRT.sldlr readonly)

        .inner-group
          label(class="inner-label" for="namtr") Năm trồng
          input(type="text" id="namtr" name="namtr" value=dataSRT.namtr readonly)

        .inner-group
          label(class="inner-label" for="churung") Chủ rừng
          input(type="text" id="churung" name="churung" value=dataSRT.churung readonly)

        .inner-group
          label(class="inner-label" for="phancap") Phân cấp
          input(type="number" id="phancap" name="phancap" value=3 min=1 max=3)

        .inner-button.inner-two-col
          button Cập nhật

      .inner-back
        a(href=`/${pathAdmin}/sauromthong/dulieusrt/${matinh}/list`) Quay lại danh sách