extends ../layouts/default.pug
block main
  h1.box-title Thông tin cá nhân

  .section-8
    form#profile-edit-form
      .inner-group
        label(class="inner-label" for="fullName") Họ tên
        input(type="text" id="fullName" name="fullName" value=account.full_name)
      .inner-group
        label(class="inner-label" for="email") Email
        input(type="email" id="email" name="email" value=account.email readonly style="background-color: #f0f0f0;")
      .inner-group
        label(class="inner-label" for="phone") Số điện thoại
        input(type="text" id="phone" name="phone" value=account.phone)
      .inner-group
        label(class="inner-label" for="role") Nhóm quyền
        input(type="text" id="role" value=account.rolename readonly style="background-color: #f0f0f0;")
      .inner-button.inner-two-col
        button Cập nhật
    .inner-back
      a(href=`/${pathAdmin}/profile/change-password`) Đổi mật khẩu