extends ../layouts/default.pug

block main
  h1.box-title Lịch sử người dùng

  //- Section 4: Bộ lọc
  .section-4
    .inner-wrap
      .inner-item.inner-label
        i.fa-solid.fa-filter
        | Bộ lọc
      .inner-item
        select(filter-method)
          option(value="") Phương Thức
          option(value="PATCH") PATCH
          option(value="POST") POST
          option(value="DELETE") DELETE
      .inner-item
        select(filter-name)
          option(value="") Người thực hiện
          each item in accountUserList
            option(value=`${item.email}`) #{item.email || ""}
      .inner-item.inner-date
        input(type="date" filter-start-date)
        span -
        input(type="date" filter-end-date)
      .inner-item.inner-reset(filter-reset)
        i.fa-solid.fa-rotate-left
        | Xóa bộ lọc

  //- Section 5: Hành động & tìm kiếm
  //- .section-5
  //-   .inner-wrap
  //-     .inner-change-status(change-multi data-api="/account-admin/change-multi")
  //-       .inner-item
  //-         select
  //-           option(value="") -- Hành động --

  //-           option(value="delete") Xóa
  //-       .inner-item
  //-         button Áp dụng
  //-     .inner-search
  //-       i.fa-solid.fa-magnifying-glass
  //-       input(type="text" placeholder="Tìm kiếm" search)

  //- Section 6: Bảng danh sách
  .section-6
    .table-2
      table
        thead
          tr
            //- th.inner-center
            //-   input(type="checkbox" class="inner-check" check-all)
            th.inner-center Người dùng
            th.inner-center Hành động
            th.inner-center Phương thức
            th.inner-center Thời gian
            th.inner-center Mục đích
        tbody
         each item in logUserList
          tr
            //- td.inner-center
            //-   input(type="checkbox" class="inner-check" check-item="1")
            td.inner-center #{item.user}
            td.inner-center #{item.endpoint}
            td.inner-center #{item.method}
            td.inner-center #{item.timeDo}
            td.inner-center #{item.purpose}
            td.inner-center
              //- .inner-buttons
              //-   button.inner-delete(button-delete data-api=``)
              //-     i(class="fa-regular fa-trash-can")

  //- Section 7: Pagination
  .section-7
    span(class="inner-label") Hiển thị #{pagination.skip + 1} - #{logUserList.length + pagination.skip} của #{pagination.TotalLogUser.length}
    select(class="inner-pagination" pagination)
      - for(let i = 1 ; i <= pagination.totalPage ; i++)
            option(value=i) Trang #{i}

