extends ../layouts/default.pug

block main
    h1.box-title Chỉnh sửa tài khoản 

    .section-8
      form#user-edit-form
        .inner-group(style="display: none;")
          label(class="inner-label "  for="id") 
          input(type="text" id="id" name="id" value=accountUserDetail.id)
        .inner-group
          label(class="inner-label" for="fullName") Họ tên
          input(type="text" id="fullName" name="fullName" value=accountUserDetail.full_name)
        .inner-group
          label(class="inner-label" for="email") Email
          input(type="email" id="email" name="email" value=accountUserDetail.email)
        .inner-group
          label(class="inner-label" for="phone") Số điện thoại
          input(type="text" id="phone" name="phone" value=accountUserDetail.phone)
        .inner-group
          label(class="inner-label" for="role") Nhóm quyền
          select(id="role" name="role")
            each item in RoleList
              option(
                value=item.id
                selected=accountUserDetail.role == item.id ? true:false) #{item.name}
          
        .inner-group
          label(class="inner-label" for="status") Trạng thái
          select(id="status" name="status")
            option(
              value="initial"
              selected=(accountUserDetail.status == "initial" ? true : false)
            ) Khởi tạo
            option(
              value="active"
              selected=(accountUserDetail.status == "active" ? true : false)
            ) Hoạt động
            option(
              value="inactive"
              selected=(accountUserDetail.status == "inactive" ? true : false)
            ) Dừng hoạt động
        .inner-group
          label(class="inner-label" for="password") Mật khẩu
          input(type="password" id="password" name="password")
        .inner-group
          label(class="inner-label" for="ma_tinh") Tỉnh
          select(id="ma_tinh" name="ma_tinh")
            each item in Tinh
              option(
                value=item.ma_tinh
                selected=accountUserDetail.ma_tinh == item.ma_tinh ? true:false) #{item.ten_tinh}
        .inner-button.inner-two-col
          button Cập nhật
      .inner-back
        a(href=`/${pathAdmin}/user/list`) Quay lại danh sách