//- sidebar.pug
nav.sider
  ul.inner-menu
    li
      a.dashboard(href=`/${pathAdmin}/dashboard`)
        i.fa-solid.fa-gauge-high
        |  Tổng quan

    //- Dropdown: Sâu róm thông
    li
      div.item_menu
        i.fa-solid.fa-mosquito
        |  Sâu róm thông
        i.fa-solid.fa-chevron-down.arrow
      ul.submenu
        li
          div.item_city Thanh Hóa
            i.fa-solid.fa-chevron-down.arrow
          ul.submenu-child
            li 
              a.menu(href=`/${pathAdmin}/sauromthong/srt/indexth`) 
                i.fa-solid.fa-database 
                | Dữ liệu SRT
            li 
              a.menu(href=`/${pathAdmin}/sauromthong/map/indexth`)
                i.fa-solid.fa-map-location-dot 
                | Dữ liệu bản đồ
        li
          div.item_city Nghệ An
            i.fa-solid.fa-chevron-down.arrow
          ul.submenu-child
            li 
              a.menu(href=`/${pathAdmin}/sauromthong/srt/indexna`) 
                i.fa-solid.fa-database 
                | Dữ liệu SRT
            li 
              a.menu(href=`/${pathAdmin}/sauromthong/map/indexna`)
                i.fa-solid.fa-map-location-dot 
                | Dữ liệu bản đồ
        li
          div.item_city Hà Tĩnh
            i.fa-solid.fa-chevron-down.arrow
          ul.submenu-child
            li 
              a.menu(href=`/${pathAdmin}/sauromthong/srt/indexht`) 
                i.fa-solid.fa-database 
                | Dữ liệu SRT
            li 
              a.menu(href=`/${pathAdmin}/sauromthong/map/indexht`)
                i.fa-solid.fa-map-location-dot 
                | Dữ liệu bản đồ
        li
          div.item_city Quảng Bình
            i.fa-solid.fa-chevron-down.arrow
          ul.submenu-child
            li 
              a.menu(href=`/${pathAdmin}/sauromthong/srt/indexqb`) 
                i.fa-solid.fa-database 
                | Dữ liệu SRT
            li 
              a.mnenu(href=`/${pathAdmin}/sauromthong/map/indexqb`)
                i.fa-solid.fa-map-location-dot 
                | Dữ liệu bản đồ
        li
          div.item_city Quảng Trị
            i.fa-solid.fa-chevron-down.arrow
          ul.submenu-child
            li 
              a.menu(href=`/${pathAdmin}/sauromthong/srt/indexqt`) 
                i.fa-solid.fa-database 
                | Dữ liệu SRT
            li 
              a.menu(href=`/${pathAdmin}/sauromthong/map/indexqt`)
                i.fa-solid.fa-map-location-dot 
                | Dữ liệu bản đồ
        li
          div.item_city Thừa Thiên Huế
            i.fa-solid.fa-chevron-down.arrow
          ul.submenu-child
            li 
              a.menu(href=`/${pathAdmin}/sauromthong/srt/indextth`) 
                i.fa-solid.fa-database 
                | Dữ liệu SRT
            li 
              a.menu(href=`/${pathAdmin}/sauromthong/srt/indextth`)
                i.fa-solid.fa-map-location-dot 
                | Dữ liệu bản đồ
            
    li
      div.item_menu
        i.fa-solid.fa-mosquito
        |  Sâu hại lá keo
        i.fa-solid.fa-chevron-down.arrow
      ul.submenu
        li
          div.item_city Thanh Hóa
            i.fa-solid.fa-chevron-down.arrow
          ul.submenu-child
            li 
              a.menu(href=`/${pathAdmin}/saulakeo/srt/indexth`) 
                i.fa-solid.fa-database 
                | Dữ liệu SRT
            li 
              a.menu(href=`/${pathAdmin}/saulakeo/map/indexth`)
                i.fa-solid.fa-map-location-dot 
                | Dữ liệu bản đồ
        li
          div.item_city Nghệ An
            i.fa-solid.fa-chevron-down.arrow
          ul.submenu-child
            li 
              a.menu(href=`/${pathAdmin}/saulakeo/srt/indexna`) 
                i.fa-solid.fa-database 
                | Dữ liệu SRT
            li 
              a.menu(href=`/${pathAdmin}/saulakeo/map/indexna`)
                i.fa-solid.fa-map-location-dot 
                | Dữ liệu bản đồ
        li
          div.item_city Hà Tĩnh
            i.fa-solid.fa-chevron-down.arrow
          ul.submenu-child
            li 
              a.menu(href=`/${pathAdmin}/saulakeo/srt/indexht`) 
                i.fa-solid.fa-database 
                | Dữ liệu SRT
            li 
              a.menu(href=`/${pathAdmin}/saulakeo/map/indexht`)
                i.fa-solid.fa-map-location-dot 
                | Dữ liệu bản đồ
        li
          div.item_city Quảng Bình
            i.fa-solid.fa-chevron-down.arrow
          ul.submenu-child
            li 
              a.menu(href=`/${pathAdmin}/saulakeo/srt/indexqb`) 
                i.fa-solid.fa-database 
                | Dữ liệu SRT
            li 
              a.mnenu(href=`/${pathAdmin}/saulakeo/map/indexqb`)
                i.fa-solid.fa-map-location-dot 
                | Dữ liệu bản đồ
        li
          div.item_city Quảng Trị
            i.fa-solid.fa-chevron-down.arrow
          ul.submenu-child
            li 
              a.menu(href=`/${pathAdmin}/saulakeo/srt/indexqt`) 
                i.fa-solid.fa-database 
                | Dữ liệu SRT
            li 
              a.menu(href=`/${pathAdmin}/saulakeo/map/indexqt`)
                i.fa-solid.fa-map-location-dot 
                | Dữ liệu bản đồ
        li
          div.item_city Thừa Thiên Huế
            i.fa-solid.fa-chevron-down.arrow
          ul.submenu-child
            li 
              a.menu(href=`/${pathAdmin}/saulakeo/srt/indextth`) 
                i.fa-solid.fa-database 
                | Dữ liệu SRT
            li 
              a.menu(href=`/${pathAdmin}/saulakeo/srt/indextth`)
                i.fa-solid.fa-map-location-dot 
                | Dữ liệu bản đồ        
    li
      div.item_menu
        i.fa-solid.fa-mosquito
        |  Bệnh hại lá keo
        i.fa-solid.fa-chevron-down.arrow
      ul.submenu
        li
          div.item_city Thanh Hóa
            i.fa-solid.fa-chevron-down.arrow
          ul.submenu-child
            li 
              a.menu(href=`/${pathAdmin}/benhlakeo/srt/indexth`) 
                i.fa-solid.fa-database 
                | Dữ liệu SRT
            li 
              a.menu(href=`/${pathAdmin}/benhlakeo/map/indexth`)
                i.fa-solid.fa-map-location-dot 
                | Dữ liệu bản đồ
        li
          div.item_city Nghệ An
            i.fa-solid.fa-chevron-down.arrow
          ul.submenu-child
            li 
              a.menu(href=`/${pathAdmin}/benhlakeo/srt/indexna`) 
                i.fa-solid.fa-database 
                | Dữ liệu SRT
            li 
              a.menu(href=`/${pathAdmin}/benhlakeo/map/indexna`)
                i.fa-solid.fa-map-location-dot 
                | Dữ liệu bản đồ
        li
          div.item_city Hà Tĩnh
            i.fa-solid.fa-chevron-down.arrow
          ul.submenu-child
            li 
              a.menu(href=`/${pathAdmin}/benhlakeo/srt/indexht`) 
                i.fa-solid.fa-database 
                | Dữ liệu SRT
            li 
              a.menu(href=`/${pathAdmin}/benhlakeo/map/indexht`)
                i.fa-solid.fa-map-location-dot 
                | Dữ liệu bản đồ
        li
          div.item_city Quảng Bình
            i.fa-solid.fa-chevron-down.arrow
          ul.submenu-child
            li 
              a.menu(href=`/${pathAdmin}/benhlakeo/srt/indexqb`) 
                i.fa-solid.fa-database 
                | Dữ liệu SRT
            li 
              a.mnenu(href=`/${pathAdmin}/benhlakeo/map/indexqb`)
                i.fa-solid.fa-map-location-dot 
                | Dữ liệu bản đồ
        li
          div.item_city Quảng Trị
            i.fa-solid.fa-chevron-down.arrow
          ul.submenu-child
            li 
              a.menu(href=`/${pathAdmin}/benhlakeo/srt/indexqt`) 
                i.fa-solid.fa-database 
                | Dữ liệu SRT
            li 
              a.menu(href=`/${pathAdmin}/benhlakeo/map/indexqt`)
                i.fa-solid.fa-map-location-dot 
                | Dữ liệu bản đồ
        li
          div.item_city Thừa Thiên Huế
            i.fa-solid.fa-chevron-down.arrow
          ul.submenu-child
            li 
              a.menu(href=`/${pathAdmin}/benhlakeo/srt/indextth`) 
                i.fa-solid.fa-database 
                | Dữ liệu SRT
            li 
              a.menu(href=`/${pathAdmin}/benhlakeo/srt/indextth`)
                i.fa-solid.fa-map-location-dot 
                | Dữ liệu bản đồ        
      
    li
      div.item_menu
        <i class="fa-solid fa-gears"></i>
        |  Quản trị hệ thống
        i.fa-solid.fa-chevron-down.arrow
      ul.submenu2
        li
          a.menu2(href=`/${pathAdmin}/user/log`) 
            i.fa-solid.fa-user-clock
            |  Lịch sử người dùng
        li
          a.menu2(href=`/${pathAdmin}/account-admin/list`) 
            i.fa-solid.fa-user
            |  Quản lý người dùng
        li
<<<<<<< HEAD
          a.menu2(href=`/${pathAdmin}/role/list`) 
=======
          a(href=`/${pathAdmin}/role/list`) 
>>>>>>> origin/Tue
            i.fa-solid.fa-user-lock
            |  Phân quyền
    hr

    //- li
    //-   a(href="")
    //-     i.fa-solid.fa-user-gear
    //-     |  Thông tin cá nhân

    li
      a(href="javascript:;", class="inner-logout")
        i.fa-solid.fa-power-off
        |  Đăng xuất

//- overlay (ví dụ dùng cho mobile hoặc đóng mở)
.sider-overlay
